.mat-elevation-z6{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 0 0px;

    &.dark-mode{
        background-color: #2d2d2d !important;

        .main-title{
            color: #ffffff !important;
        }

        .searchTerm{
            background-color: #181818 !important;

            &:focus {
                transform: scale(1.01); 
                color: #ffffff;
            }
        }
    }
}

img{
    border-radius: 5px;
    border: 1px solid #FF7C03;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-title {
    font-size: 20px;
    font-weight: bold;
    color: #010101;
    display: inline-block;
}

a span .title {
    color: #FF7C03;
}

.icon-button {
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;

    &:hover{
        opacity: 1;
    }
}

.icon-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        transform: scale(1.05); 
    }
}

.icon-button-content mat-icon{
    font-size: 30px;
}

.icon-label {
    font-size: 10px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-left: 15%;
}

.profile-photo{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nest-menu{
    background-color: grey;
    font-family: Arial, sans-serif;
}

.searchTerm {
    width: 40%;
    border: 2px solid #FF7C03;
    border-right: none;
    padding: 5px;
    height: 34px;
    font-size: small;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #9DBFAF;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.searchTerm:focus {
    transform: scale(1.01); 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #010101;
}

.searchButton {
    width: 40px;
    height: 34px;
    border: 1px solid #FF7C03;
    background: linear-gradient(to right, #FF7C03, #FF7C03);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.nav-button-header{
    display: none;
}

.toolbarNav{
    display: none;
}

.logo{
    width: 40px;
    height: 40px;
    margin-right: 2px;
}

.icon-button {
    position: relative;
  }
  
  .notifications-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 450px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 8px;
    z-index: 1000;
  }

  //Chat AI UI

  .chat{
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 100px;
    height: 200px;
    z-index: 1001;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(0deg, #cb00e6 0%, #FF7C03 100%);
    color: white;
    border: none;
    box-shadow: 0 0.5em 1.5em -0.5em #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 99999;

    &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #FF7C03;
        transform: scale(1.05); 
      }
    
    img{
        padding: 5px;
    }
  }  

  .rotating {
    animation: rotate-border 2s linear infinite;
  }

  @keyframes rotate-border {
    0% {
      box-shadow: 0 0 0 3px #ff0000;
    }
    25% {
      box-shadow: 0 0 0 1px #FF7C03;
    }
    50% {
      box-shadow: 0 0 0 1px #FF7C03;
    }
    75% {
      box-shadow: 0 0 0 4px #ffff00;
    }
    100% {
      box-shadow: 0 0 0 2px #ff00c3;
    }
}

@media only screen and (max-width: 950px) {
    .floating-button {
        bottom: 80px;
        right: 20px;
        width: 60px;
        height: 60px;

        img{
            padding: 5px;
        }
      }  
} 

@media only screen and (max-width: 950px) {
    .mat-elevation-z6{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        height: 40px;
        width: 103%;
        padding: 0px;
    }

    .logo{
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

    .mat-elevation-z6 a{
        padding-left: 5px;
    }

    .nav-button{
        display: none
    }

    .nav-button-header{
        display: inline;
    }

    .icon-button-content mat-icon{
        font-size: 10px;
        bottom: 8px;
        float: right;
    }

    .searchTerm {
        width: 80%;
        border: 2px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 28px;
    }

    .searchButton {
        height: 28px;
    }

    .toolbarNav{  
        position: fixed;
        bottom: 0; 
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        padding: 2px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);

        .icon-button-content mat-icon{
            font-size: 30px;
            bottom: 1px;
            float: right;
        }
    }

    .button-88{
        display: none;
    }

    .web-icon{
        display: none;
    }

    .plus{
        border-radius: 50%;
        font-size: 40px;
        border: 1px solid #FF7C03;
    }
}