<div id="boxes">
    <div id="leftbox">
        <app-profile-side-bar></app-profile-side-bar>
    </div>

    <div id="middlebox" #middlebox>
        <app-add-poll *ngIf="!isLoggedIn"></app-add-poll>
        <app-poll-list *ngIf="!isLoggedIn"></app-poll-list>
        <mat-tab-group [color]="'warn'" (selectedTabChange)="onTabChange($event)" *ngIf="isLoggedIn">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>home</mat-icon>
                    &nbsp;Feeds
                </ng-template>
                <ng-container *ngIf="activeTabIndex === 0">
                    <app-add-poll></app-add-poll>
                    <app-poll-list></app-poll-list>
                </ng-container>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>poll</mat-icon>
                    &nbsp;My polls
                </ng-template>
                <ng-container *ngIf="activeTabIndex === 1">
                    <app-add-poll></app-add-poll>
                    <app-poll-list [isFromMyPolls]="true"></app-poll-list>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div id="rightbox">
        <app-misc-side-bar></app-misc-side-bar>
    </div>
</div>