.votevoice-post {
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #fff;

    &.dark-mode{
      background-color: #3D3D3D !important;
      color: white;
    }
  }
  
  .votevoice-header,
  .votevoice-post-footer {
    padding: 15px;
    border-radius: 10px;
    display: flex;

    &.dark-mode{
      background-color: #3D3D3D !important;
      color: white;
    }
  }
  
  .votevoice-header {
    margin-bottom: 10px;
    background-color: #fff;
    width: 90%;
    position: relative;
  }
  
  .post-profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .post-details {
    font-size: 0.7em;
    color: #666;
    text-align: left;

    &.dark-mode{
      color: rgb(192, 192, 192);
    }
  }
  
  .votevoice-post-content {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.0em;
    padding: 0 15px;
  }
  
  .action-button {
    color: #666;
    cursor: pointer;
  }
  
  .action-button i{
    font-size: 20px;
  }
  
  .more {
    position: absolute;
    right: 0;
    float: right;
  }
  
  .more_icon {
    font-size: large;
  }

  .poll-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    background-color: #f9fafb;

    &.dark-mode{
      background-color: #3D3D3D !important;
      color: white;
    }
  }
  
  .poll-option {
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .poll-option:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .poll-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .poll-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
  
  .result {
    margin-top: 10px;
  }
  
  .percentage {
    background: linear-gradient(0deg, #d55003 0%, #FF7C03 100%);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
  }
  
  .component-container {
    position: relative;
  }
  
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.163);
  }
  
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.loader::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.footer{
  display: flex;
  flex-direction: row;
}

.reload-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.reload-icon {
  fill: currentColor;
}

.rotating {
  animation: rotate 2s linear infinite;
}

.refresh{
  font-size: 1.2em;
  color: #FF7C03;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover{
    color: #d55003;
    transform: scale(1.05); 
  }
}

.username{
  font-size: medium;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  

  @media only screen and (max-width: 950px) {
    .votevoice-post {
      width: 100%;
    }

    .poll-option {
        width: 200px;
        height: 200px;
      }
  }

  @media only screen and (max-width: 490px) {
    .poll-option {
        width: 100px;
        height: 100px;
      }
  }