.container{
    width: 100%;
    background-color: white;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(0.15, 0.15, 0.15, 0.15) 1.95px 1.95px 2.6px;
}

.container .profile .personal-img{
    width: 70px;
    height: 70px;
    display:inline;
    border: 2px solid #FF7C03;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #FF7C03;
        transform: scale(1.05); 
      }
}

.profile{
    text-align: center;
    padding: 25px;
    align-items: center;
    width: 100%;
}

#profile{
    display:inline;
}

.profile-name b{
    font-size: large;
}

.profile-head{
    opacity: .5;
    font-size: small;
    line-height: 1;
}

.posts-btn{
    width: 100%;
    height: 30px;
    background: #00b4cc00;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .3s;
}