.chat{
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 100px;
    height: 200px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(0deg, #cb00e6 0%, #FF7C03 100%);
    color: white;
    border: none;
    box-shadow: 0 0.5em 1.5em -0.5em #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 99;

    &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #FF7C03;
        transform: scale(1.05); 
      }
    
    img{
        padding: 5px;
    }
  }  

  .rotating {
    animation: rotate-border 2s linear infinite;
  }

  @keyframes rotate-border {
    0% {
      box-shadow: 0 0 0 3px #ff0000;
    }
    25% {
      box-shadow: 0 0 0 1px #FF7C03;
    }
    50% {
      box-shadow: 0 0 0 1px #FF7C03;
    }
    75% {
      box-shadow: 0 0 0 4px #ffff00;
    }
    100% {
      box-shadow: 0 0 0 2px #ff00c3;
    }
}

@media only screen and (max-width: 950px) {
    .floating-button {
        bottom: 80px;
        right: 20px;
        width: 60px;
        height: 60px;

        img{
            padding: 5px;
        }
      }  
}